.navbar-fixed
  %nav{class: background_class}
    .nav-wrapper
      %a.brand-logo.white-text{:href => "/index"} Sune Nilausen
      %a.button-collapse{"data-activates" => "slide-out", :href => "#"}
        %i.material-icons menu
      .d-flex.justify-content-center
        %ul.hide-on-med-and-down
          %li
            = link_to 'About', '/index#about', class: 'white-text'
          %li
            = link_to 'CV', '/cv', class: 'white-text'
          %li
            = link_to 'Portfolio', '/portfolio', class: 'white-text'
          %li
            = link_to 'Blog', 'www.sune.blog', class: 'white-text'

%ul#slide-out.side-nav
  %li.center
    .user-view
      .background{class: background_class}
      .d-flex.justify-content-center
        %img.circle{:src => image_url("icons/man.svg")}/
      %span.white-text.name Sune Nilausen
      %span.white-text.email sunenilausen@gmail.com
  %li
    = link_to 'About', '/index#about'
  %li
    = link_to 'CV', '/cv'
  %li
    = link_to 'Portfolio', '/portfolio'
  %li
    = link_to 'Blog', 'www.sune.blog'