.navbar-fixed
  %nav.transparent
    .nav-wrapper
      %a.brand-logo{:href => "#!"} Sune Nilausen
      %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
        %i.material-icons menu
      %ul.right.hide-on-med-and-down
        %li
          = link_to 'About', 'about'
        %li
          = link_to 'CV', 'cv'
        %li
          = link_to 'Portfolio', '/pages/portfolio'
        %li
          = link_to 'Blog', '/pages/blog'
      %ul#mobile-demo.side-nav
        %li
          = link_to 'About', 'about'
        %li
          = link_to 'CV', 'cv'
        %li
          = link_to 'Portfolio', '/pages/portfolio'
        %li
          = link_to 'Blog', '/pages/blog'