.container
  .hero
    .d-flex.justify-content-start
      .hero-title
        %h1.white-text.small-caps.center About
        .hero-underline
    %p.white-text 
      My name is Sune and i am a
      - if DateTime.now < DateTime.parse("1991-04-17").yday
        = ( DateTime.now.year - 1991)
      - else
        = ( DateTime.now.year - 1992)
      year old developer who loves making sites, apps, games and more. I have a MSc. in Computer Science, with my master thesis being in machine intelligence. Development and design of modern software is my passion and i am always interesting in creating something creative. I grew up on the countryside near Grønbjerg, a little westjutlandic village. As a person I am always ready for new and exciting projects, as it is a great way to expand my competences.

  .about-item
    = render partial: 'about_item', locals: {icon: 'keyboarddoc', content: 'Normally I develop on my laptop with Archlinux and Gnome, where i prefer Ruby on Rails and JavaScript frameworks. However for Unity3D, photoshop, Java, .NET I usually switch to Windows. I use Sublime 3, with a bunch of plugins and I love it. Weekly i also volunteer to teach programming and game development to children/youth at Coding Pirates'}
  .about-item.about-icon-right
    = render partial: 'about_item', locals: {icon: 'acoustic-guitar', content: 'One of my hobbies is Music. I have an acoustic guitar, an electric guitar and a big old fashioned piano. I enjoy playing music, and fiddling with effects and tools. One day I hope I have the skills to write and produce professional music or get a gig.'}
  .about-item
    = render partial: 'about_item', locals: {icon: 'painting-palette', content: 'Painting is also a big hobby of mine. I mostly paint oil but also sometimes acrylic. At the moment I am very much a beginner but I think I have made some nice pieces by following the guidance of the great TV Show "The Joy of Painting" with Bob Ross.'}
  .about-item.about-icon-right
    = render partial: 'about_item', locals: {icon: 'cocktail', content: 'Meeting new people, making friends and trying out new things is also a joyous way to spend my time. Often it is board games, bowling, cocktails, badminton or trying out some new food. Otherwise i often enjoy reading or watching scifi, fantasy, or thriller stories.'}
