.container
  .row
    = render partial: 'language', locals: {title: 'Danish', subtitle: 'Native. Can read, listen, speak and write expertly.', image: 'flags/round/denmark.svg'}
    = render partial: 'language', locals: {title: 'English', subtitle: 'Fluent. Can read, listen, speak and write expertly.', image: 'flags/round/united-kingdom.svg'}
    = render partial: 'language', locals: {title: 'Swedish', subtitle: 'Intermediate. Good at reading. Speaks and writes with a lot of Danish influence. Can struggle at listening.', image: 'flags/round/sweden.svg'}
    = render partial: 'language', locals: {title: 'Norwegian', subtitle: 'Intermediate. Good at reading. Speaks and writes with a lot of Danish influence. Can struggle at listening.', image: 'flags/round/norway.svg'}
    = render partial: 'language', locals: {title: 'German', subtitle: 'Basics. Ok at reading. Struggling at listening. Novice at speaking and writing.', image: 'flags/round/germany.svg'}
