.container
  .row
    = render partial: 'language', locals: {title: 'Danish', subtitle: 'Native', image: 'flags/round/denmark.svg'}
    = render partial: 'language', locals: {title: 'English', subtitle: 'Fluent', image: 'flags/round/united-kingdom.svg'}
    = render partial: 'language', locals: {title: 'Swedish', subtitle: 'Intermediate', image: 'flags/round/sweden.svg'}
    = render partial: 'language', locals: {title: 'Norwegian', subtitle: 'Intermediate', image: 'flags/round/norway.svg'}
    = render partial: 'language', locals: {title: 'German', subtitle: 'Basics', image: 'flags/round/germany.svg'}
