.portfolio-item
  .card.grow.portfolio-card
    .card-image
      = image_tag(image, class: 'portfolio-image')
    .card-content.center
      .portfolio-title= title
      = content
    .card-action
      - if github.present?
        %a{href: "#{github}"} Github
      - if blog.present?
        %a{href: "#{blog}"} Blog