.container
  .row
    = render partial: 'skill', locals: {title: 'Ruby on Rails', body: "I have used ruby and rails to make API's, websites (like this one) and this open source gem", color_class: 'red darken-4'}
    = render partial: 'skill', locals: {title: 'HTML and CSS', body: "I have used HTML and CSS extensively for various web sites, including this. I also like to use HAML with ruby on rails.", color_class: 'green darken-3'}
    = render partial: 'skill', locals: {title: 'JavaScript', body: "JavaScript is unavoidable when making websites. I often use CoffeeScript so my code is more concise and ruby-like. I am currently building my blog with React, and i have also used it for a React Native app", color_class: 'yellow darken-2'}

  .row
    = render partial: 'skill', locals: {title: 'C#, Unity3D and .NET', body: "At Aalborg University i used C# for many projects, including some Unity3D games which you can find here. I am also very interested in building something with .NET, but preferably using command generators than browsing around in visual studio GUI.", color_class: 'blue darken-2'}
    = render partial: 'skill', locals: {title: 'Databases', body: 'When webdeveloping it is also hard to avoid using databases. My preference is currently PostgreSQL and MongoDB. However MySQL, InfluxDB, Redis, Sqlite and other database are also very useful.', color_class: 'purple'}

    = render partial: 'skill', locals: {title: 'Scala', body: 'As part of my master thesis in Machine Intelligence, i used Scala to create an LSTM neural network that predicts maneuvers in highway traffic. Functional programming is very interesting and Scala makes it very enjoyable.', color_class: 'red'}
