- row_reverse = right ? "row-reverse" : ""
- background = "bg-#{color}"
- arrow = right ? "arrow-left" : "arrow-right"

.timeline-card-wrapper(class = row_reverse)
  .card.timeline-card
    %div{class: "#{arrow}-#{background}"}
    .timeline-card-header(class = background)
      %h2
        = year
      %p
        = header_text

    .card-content
      =body_text

  .timetrack.d-flex.justify-content-center.width100
    o