- row_reverse = right ? "row-reverse" : ""
- background = "bg-#{color}"
- arrow = right ? "arrow-left" : "arrow-right"

.d-flex.width100(class = row_reverse)
  .card.timeline-card
    %div{class: "#{arrow}-#{background}"}
    .timeline-card-header.d-flex.align-items-center(class = background)
      %h2
        = year
      = header_text

    .card-body
      =body_text

  .timetrack.d-flex.justify-content-center.width100
    o