-# %img{src: image_url("copenhagen.jpg"), class: "img-fluid bg-image"}

#welcome
  = render 'welcome'

#about.z-depth-5
  = render 'about'

-# .parallax-container
-#   .parallax
-#     = image_tag('copenhagen.jpg')

#cv
  = render 'cv'
#timeline
  = render 'timeline'

#footer
  = render 'footer'